* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#nav {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
  background-color: blue;
  height: 50px;
  max-height: 50px;
}

#nav h2 {
  margin: 0 1em;
  line-height: 50px;
  display: inline;
}

#sidebar {
  padding-top: 50px;
  position: fixed;
  height: 100%;
  width: 300px;
  max-width: 90%;
  background-color: #000;
  left: 0;
  z-index: 999;
  overflow: auto;

  -webkit-transform: translateX(0);
  transform: translateX(0);

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

@media(max-width: 767px) {
  #sidebar {
    left: -300px;
  }
}

@media(min-width: 768px) {
  #sidebar-toggle {
    display: none;
  }
}

#sidebar.show-nav {
  left: 0;
}

#sidebar-toggle {
  float: right;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-right: 1em;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}

#sidebar-toggle span.icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  background-color: #888;
}

#sidebar-toggle span.icon-bar:not(:first-child) {
  margin-top: 4px;
}
